<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Posts</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>X posts <a href="http://localhost:3000/posts/new" id="new-post-page">Create New Post</a></header>
    <section class="posts">
      <% for(post of posts){%>
      <div class="post">
        <h3>&#64;<%- post.username %></h3>
        <p><%- post.content %></p>
        <div class="link-container">
          <a class="view-post-link" href="http://localhost:3000/posts/<%-post.id%>">View Post</a>
          <a class="edit-post-link" href="http://localhost:3000/posts/edit/<%-post.id%>">Edit Post</a>
        </div>
      </div>
      <% } %>
    </section>
  </body>
</html>
