<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Post</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>X posts</header>
    <form class="new-post">
        <input class="input-fields" type="text" id="username" placeholder="username" required>
        <textarea class="input-fields" name="content" id="content" rows="10" placeholder="Enter post content" required></textarea>
        <button type="submit" id="create">Create Post</button>
    </form>
  </body>
</html>
