body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 3rem;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 48px;
    background-color: black;
    z-index: 1;
}
.posts{
    border-right: 2px solid rgba(255, 255, 255,0.5);
    border-left: 2px solid rgba(255, 255, 255,0.5);
    padding-left: 300px;
    padding-right: 300px;
}
.post{
    width: 500px;
    min-height: 300px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(255, 255, 255,0.5);
    margin-top: 20px;
    position: relative;
}
h3{
    font-style: italic;
    font-size: 36px;
}
p{
    font-size: 24px;
}
.new-post{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255,0.5);
    width: 550px;
    height: 550px;
    justify-content: center;
    align-items: center;
}
.edit-post{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255,0.5);
    width: 550px;
    height: 550px;
    justify-content: center;
    align-items: center;
}
.input-fields{
    background-color: black;
    color: white;
    border-color: rgba(255, 255, 255,0.5);
    border: none;
    font-size: 24px;
}
#content{
    margin-top: 50px;
    border-radius: 10px;
    width:300px;
}
#username{
    width: 300px;
    height: 50px;
    border-radius: 10px;
}
#create {
    width: 150px;
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #1DA1F2; /* Twitter blue */
    color: white;
    margin-top: 50px;
    cursor: pointer;
    border: none; /* Remove border for a cleaner look */
}
#edit{
    width: 150px;
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #1DA1F2; /* Twitter blue */
    color: white;
    margin-top: 50px;
    cursor: pointer;
    border: none; /* Remove border for a cleaner look */
}
#create:hover {
    background-color: #1A91DA; /* Slightly darker blue for hover effect */
}

#new-post-page{
    font-size: 24px;
    color: white;
    text-decoration: none;
    margin-right: 30px;
}
#new-post-page:hover{
    text-decoration: underline;
}
.link-container{
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
}
.view-post-link{
    color: #1A91DA;
    text-decoration: none;
    font-size: 24px;
    padding-bottom: 10px;
}
.edit-post-link{
    color: #1A91DA;
    text-decoration: none;
    font-size: 24px;
    padding-bottom: 10px;
}
.delete-post-link {
    background: none;
    border: none;
    color: red;
    text-decoration: none;
    cursor: pointer;
    padding:0;
    padding-bottom: 10px;
    font-size: 24px;
}
